<div>
    <h1 [style.font-size.%]="myHelloComponent.namesList.length > 0 ? '200': '150'"
        [style.color]="myHelloComponent.namesList.length > 0 ? 'red': 'black'" 
        class="text-center">Let's learn Angular</h1>
    <div [class.hidden]="myHelloComponent.inputName.length == 0">
        <span [ngClass]="updateNameClasses(myHelloComponent.inputName)">Writting '{{myHelloComponent.inputName}}'</span> in HelloComponent
    </div>
    <app-hello #myHelloComponent (sayHello)="onSayHello($event)"></app-hello>
</div>