<p *ngFor="let item of namesList; let i = index;">{{ i }} Hello {{ item | slice: 0:1 | uppercase }}{{ item | slice: 1 | lowercase }}!</p>
<button type="button" (click)="onNameClick()">Enviar saludo!</button>
<hr>
<div [ngSwitch]="namesList.length < 5">
    <div *ngSwitchCase="false">
        <p>You can't add more names</p>
    </div>
    <div *ngSwitchCase="true">
        <div>{{ inputName }}</div>
        <input type="text" [(ngModel)]="inputName" aria-label="Campo para ingreso de datos">
        <button type="button" (click)="addName()">Add name</button>
    </div>
</div>